@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

p, button, span, a {
  font-family: "Open Sans", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.app {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-container {
  width: 400px;
  border-radius: 25px;
  padding: 15px;
  background: #F6F6F6;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.auth-container .login-container, .auth-container .register-container {
  width: 100%;
}

.auth-container .login-container h1, .auth-container .register-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.auth-container .login-container input, .auth-container .register-container input {
  width: 100%;
  height: 25px;
  margin: 15px 0;
  display: block;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
}

.auth-container .login-container .error, .auth-container .register-container .error {
  background: #ffcccc;
  border-bottom: 1px solid red;
}

.auth-container .login-container button, .auth-container .register-container button {
  background: #52ac62;
  padding: 5px;
  border: none;
  color: #282C34;
  font-size: 18px;
}

.auth-container .login-container button:hover, .auth-container .register-container button:hover {
  background: #282C34;
  color: #52ac62;
}

.auth-container .login-container .login-link, .auth-container .login-container .register-link, .auth-container .register-container .login-link, .auth-container .register-container .register-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #0000b3;
}

.auth-container .login-container .login-link:hover, .auth-container .login-container .register-link:hover, .auth-container .register-container .login-link:hover, .auth-container .register-container .register-link:hover {
  cursor: pointer;
}

.dashboard {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .navigation-container {
  width: 75px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #282C34;
  text-align: center;
}

.dashboard .navigation-container .links p {
  width: 100%;
  padding: 10px 0;
  display: block;
  font-size: 12px;
  color: #52ac62;
}

.dashboard .navigation-container .links p:hover {
  border-left: 5px solid #52ac62;
  cursor: pointer;
}

.dashboard .navigation-container .links p .icon {
  font-size: 32px;
}

.dashboard .navigation-container .links .link-active {
  border-left: 5px solid #52ac62;
}

.dashboard .navigation-container .logout {
  padding: 5px;
}

.dashboard .navigation-container .logout p {
  color: #ff6666;
  font-size: 24px;
}

.dashboard .navigation-container .logout p:hover {
  color: red;
  cursor: pointer;
}

.dashboard .content-container {
  width: calc(100% - 75px);
  height: 100%;
}

.dashboard-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.dashboard-container .section-card {
  width: auto;
  margin: 10px;
  padding: 50px;
  border-radius: 5px;
  background: #F6F6F6;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.dashboard-container .section-card .icon {
  display: block;
  font-size: 200px;
  color: #52ac62;
}

.dashboard-container .section-card button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  background: #4c78a8;
  color: #F6F6F6;
  -webkit-transition: 1s cubic-bezier(0.075, 0.75, 0.15, 1);
  transition: 1s cubic-bezier(0.075, 0.75, 0.15, 1);
}

.dashboard-container .section-card button:hover {
  border-radius: 0;
}

.schools-container {
  width: 100%;
}

.schools-container .section-nav {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #4c78a8;
}

.schools-container .section-nav .breadcrumb p {
  margin-left: 10px;
  line-height: 40px;
  font-size: 18px;
  color: #F6F6F6;
}

.schools-container .section-nav .functions button {
  height: 100%;
  padding: 0 10px;
  border: none;
  font-size: 18px;
}

.schools-container .section-nav .functions button:hover {
  cursor: pointer;
}

.schools-container .section-nav .functions .button-create-school {
  color: #F6F6F6;
  background: green;
}

.schools-container .section-nav .functions .button-create-school:hover {
  color: green;
  background: #F6F6F6;
}

.schools-container .section-nav .functions .button-assign-manager {
  color: #F6F6F6;
  background: #cc8400;
}

.schools-container .section-nav .functions .button-assign-manager:hover {
  color: #cc8400;
  background: #F6F6F6;
}

.schools-container .functions-container {
  width: auto;
  height: auto;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  background: #e6e6e6;
}

.schools-container .schools-info {
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  background: #e6e6e6;
}

.managers-container {
  width: 100%;
}

.managers-container .section-nav {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #4c78a8;
}

.managers-container .section-nav .breadcrumb p {
  margin-left: 10px;
  line-height: 40px;
  font-size: 18px;
  color: #F6F6F6;
}

.managers-container .section-nav .functions button {
  height: 100%;
  padding: 0 10px;
  border: none;
  font-size: 18px;
}

.managers-container .section-nav .functions button:hover {
  cursor: pointer;
}

.managers-container .section-nav .functions .button-create-manager {
  color: #F6F6F6;
  background: green;
}

.managers-container .section-nav .functions .button-create-manager:hover {
  color: green;
  background: #F6F6F6;
}

.managers-container .functions-container {
  width: auto;
  height: auto;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  background: #e6e6e6;
}

.managers-container .managers-info {
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  background: #e6e6e6;
}

.teachers-container {
  width: 100%;
}

.teachers-container .section-nav {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #4c78a8;
}

.teachers-container .section-nav .breadcrumb p {
  margin-left: 10px;
  line-height: 40px;
  font-size: 18px;
  color: #F6F6F6;
}

.teachers-container .section-nav .functions button {
  height: 100%;
  padding: 0 10px;
  border: none;
  font-size: 18px;
}

.teachers-container .section-nav .functions button:hover {
  cursor: pointer;
}

.teachers-container .section-nav .functions .button-create-teacher {
  color: #F6F6F6;
  background: green;
}

.teachers-container .section-nav .functions .button-create-teacher:hover {
  color: green;
  background: #F6F6F6;
}

.teachers-container .functions-container {
  width: auto;
  height: auto;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  background: #e6e6e6;
}

.teachers-container .teachers-info {
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  background: #e6e6e6;
}

.classes-container {
  width: 100%;
}

.classes-container .section-nav {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #4c78a8;
}

.classes-container .section-nav .breadcrumb p {
  margin-left: 10px;
  line-height: 40px;
  font-size: 18px;
  color: #F6F6F6;
}

.classes-container .section-nav .functions button {
  height: 100%;
  padding: 0 10px;
  border: none;
  font-size: 18px;
}

.classes-container .section-nav .functions button:hover {
  cursor: pointer;
}

.classes-container .section-nav .functions .button-create-class {
  color: #F6F6F6;
  background: green;
}

.classes-container .section-nav .functions .button-create-class:hover {
  color: green;
  background: #F6F6F6;
}

.classes-container .functions-container {
  width: auto;
  height: auto;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  background: #e6e6e6;
}

.classes-container .classes-info {
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  background: #e6e6e6;
}

.class-container .class-details-container {
  text-align: center;
}

.class-container .add-student-container {
  text-align: center;
}

.class-container .students-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.class-container .students-container .student-card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #F6F6F6;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
/*# sourceMappingURL=App.css.map */