@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
// VARIABLES
// Media Queries
$mobile: 480px;
$tablet: 768px;
//Fonts
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
//Colors
$color-dark: #282C34;
$color-light: #F6F6F6;
$color-accent-one: 	#52ac62;
$color-accent-two: 	#4c78a8;
$color-accent-dark: 	#2d3c53;
//Box Shadow
$shadow-main: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12);


* {
  margin: 0; padding: 0;
  outline: 0; box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
}
p, button, span, a {
  font-family: $secondary-font;
}
a {
  color: black;
  text-decoration: none;
}

.app {
  width: 100%; height: 100vh;
  display: flex; justify-content: center; align-items: center;
}

//LoginForm
.auth-container {
  width: 400px;
  border-radius: 25px;
  padding: 15px;
  background: $color-light;
  box-shadow: $shadow-main;
  .login-container, .register-container {
    width: 100%;
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
    }
    input {
      width: 100%; height: 25px;
      margin: 15px 0;
      display: block;
      background: none;
      border: none;
      border-bottom: 1px solid black;
      font-size: 18px;
    }
    .error {
      background: lighten($color: red, $amount: 40);
      border-bottom: 1px solid red;
    }
    button {
      background: $color-accent-one;
      padding: 5px;
      border: none;
      color: $color-dark;
      font-size: 18px;
      &:hover {
        background: $color-dark;
        color: $color-accent-one;
      }
    }
    .login-link, .register-link {
      margin-top: 15px;
      text-align: center;
      font-size: 14px;
      color: darken($color: blue, $amount: 15);
      &:hover {
        cursor: pointer;
      }
    }
  }
}

//Dashboard
.dashboard {
  width: 100%; height: 100vh;
  display: flex;
  .navigation-container {
    width: 75px; height: 100%;
    display: flex; flex-direction: column; justify-content: space-between;
    background: $color-dark;
    text-align: center;
    .links {
      p {
        width: 100%;
        padding: 10px 0;
        display: block;
        font-size: 12px;
        color: $color-accent-one;
        &:hover {
          border-left: 5px solid $color-accent-one;
          cursor: pointer;
        }
        .icon {
          font-size: 32px;
        }
      }
    }
    .logout{
      padding: 5px;
      p {
        color: lighten($color: red, $amount: 20);
        font-size: 24px;
      &:hover {
        color: red;
        cursor: pointer;
        }
      }
    }
  }
  //Views fall under this class
  .content-container {
    width: calc(100% - 75px); height: 100%;
  }
}
//Dashboard template

//Dashboard view
.default-container {
  width: 100%;
  display: flex; justify-content: space-evenly; flex-wrap: wrap;
  padding: 10px;
  .section-card {
    width: auto;
    margin: 10px;
    padding: 50px;
    border-radius: 5px;
    background: $color-light;
    box-shadow: $shadow-main;
    .icon {
      display: block;
      font-size: 200px;
      color: $color-accent-one;
    }
    button {
      padding: 10px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      background: $color-accent-two;
      color: $color-light;
      transition: 1s cubic-bezier(0.075, 0.75, 0.15, 1);
      &:hover {
        border-radius: 0;
      }
    }
  }
}
//Schools view
.schools-container {
  width: 100%;
  .section-nav {
    width: 100%; height: 40px;
    display: flex; justify-content: space-between;
    background: $color-accent-two;
    .breadcrumb {
      p {
        margin-left: 10px;
        line-height: 40px;
        font-size: 18px;
        color: $color-light;
      }
    }
    .functions {
      button {
        height: 100%;
        padding: 0 10px;
        border: none;
        font-size: 18px;
        &:hover {
          cursor: pointer;
        }
      }
      .button-create-school {
        color: $color-light;
        background: green;
        &:hover {
          color: green;
          background: $color-light;
        }
      }
      .button-assign-manager {
        color: $color-light;
        background: darken($color: orange, $amount: 10);
        &:hover {
          color: darken($color: orange, $amount: 10);
          background: $color-light;
        }
      }
    }
    
  }
  .functions-container {
    width: auto; height: auto;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    background: darken($color: white, $amount: 10);
  }
  .schools-info {
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    background: darken($color: white, $amount: 10);
  }
}

//Managers view
.managers-container {
  width: 100%;
  .section-nav {
    width: 100%; height: 40px;
    display: flex; justify-content: space-between;
    background: $color-accent-two;
    .breadcrumb {
      p {
        margin-left: 10px;
        line-height: 40px;
        font-size: 18px;
        color: $color-light;
      }
    }
    .functions {
      button {
        height: 100%;
        padding: 0 10px;
        border: none;
        font-size: 18px;
        &:hover {
          cursor: pointer;
        }
      }
      .button-create-manager {
        color: $color-light;
        background: green;
        &:hover {
          color: green;
          background: $color-light;
        }
      }
    }
  }
  .functions-container {
    width: auto; height: auto;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    background: darken($color: white, $amount: 10);
  }
  .managers-info {
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    background: darken($color: white, $amount: 10);
  }
}

//Classes view
.classes-container {
  width: 100%;
  .add-class {
    width: 400px; margin: auto;
  }
  .class-cards{
    display: flex; justify-content: space-evenly; align-items: center; flex-wrap: wrap;
    .class-card {
      width: 25%;
      padding: 25px;
      border-radius: 5px;
      background: $color-light;
      box-shadow: $shadow-main;
      @media all and (max-width: $tablet) {
        width: 50%;
      }
      button {
        padding: 5px;
        margin: 5px 0;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        background: $color-accent-two;
        color: $color-light;
        transition: 1s cubic-bezier(0.075, 0.75, 0.15, 1);
        &:hover {
          border-radius: 0;
        }
      }
      .delete-class-button {
        background: darken($color: red, $amount: 20);
      }
    }
  }
}
//Class view
.class-container {
  .class-details-container {
    text-align: center;
  }
  .add-student-container {
    text-align: center;
  }
  .students-container {
    width: 100%;
    display: flex; justify-content: space-evenly; flex-wrap: wrap;
    padding: 10px;
    .student-card {
      width: 200px;
      margin: 10px;
      padding: 10px;
      border-radius: 5px;
      background: $color-light;
      box-shadow: $shadow-main;
    }
  }
}