@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
// VARIABLES
// Media Queries
$mobile: 480px;
$tablet: 768px;
//Fonts
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
//Colors
$color-dark: #282C34;
$color-light: #F6F6F6;
$color-accent-one: 	#52ac62;
$color-accent-two: 	#4c78a8;
$color-accent-dark: 	#2d3c53;
//Box Shadow
$shadow-main: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12);


* {
  margin: 0; padding: 0;
  outline: 0; box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
}
p, button, span, a {
  font-family: $secondary-font;
}
a {
  color: black;
  text-decoration: none;
}

.app {
  width: 100%; height: 100vh;
  display: flex; justify-content: center; align-items: center;
}

//LoginForm
.auth-wrapper {
  width: 480px; height: 100vh;
  display: flex; align-items: center;
  background: $color-light;
  box-shadow: $shadow-main;
}
.auth-container {
  width: 100%; 
  padding: 15px;
  .login-container, .register-container {
    width: 100%;
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
    }
    .error {
      background: lighten($color: red, $amount: 40);
      border-bottom: 1px solid red;
    }
    button {
      margin-top: 15px;
      background: $color-accent-one;
      color: $color-dark;
      &:hover {
        background: $color-dark;
        color: $color-accent-one;
      }
    }
    .login-link, .register-link {
      margin-top: 15px;
      text-align: center;
      font-size: 14px;
      color: darken($color: blue, $amount: 15);
      &:hover {
        cursor: pointer;
      }
    }
  }
}

//Dashboard
.dashboard {
  width: 100%; height: 100vh;
  display: flex;
  .navigation-container {
    width: 100px; height: 100%;
    display: flex; flex-direction: column; justify-content: space-between;
    background: $color-dark;
    text-align: center;
    .links {
      p {
        font-size: 12px;
          color: $color-accent-one;
      }
      .nav-item {
        .main-link {
          width: 100%;
          padding: 10px 0;
          display: block;
          transition: 0.25s linear;
          &:hover {
            border-left: 5px solid $color-accent-one;
            cursor: pointer;
          }
          .icon {
            font-size: 32px;
          }
        }
        .main-link__active {
          border-left: 5px solid $color-accent-one;
        }
        .sub-link__container {
          height: auto;
          text-align: left;
          font-size: 10px;
          transition: 1s cubic-bezier(0.075, 0.75, 0.15, 1);
          p {
            padding: 3px 0 3px 10px;
            transition: 1s cubic-bezier(0.075, 0.75, 0.15, 1);
            &:hover {
              padding-left: 2px;
              cursor: pointer;
            }
          }
        }
        .hidden {
          height: 0;
          overflow: hidden;
        }
      }
    }
    .logout{
      padding: 5px;
      p {
        color: lighten($color: red, $amount: 20);
        font-size: 24px;
      &:hover {
        color: red;
        cursor: pointer;
        }
      }
    }
  }
  //Views fall under this class
  .content-container {
    width: calc(100% - 100px); height: 100%;
  }
}
//Dashboard view
.dashboard-container {
  width: 100%;
  display: flex; justify-content: space-evenly; flex-wrap: wrap;
  padding: 10px;
  .section-card {
    width: auto;
    margin: 10px;
    padding: 50px;
    border-radius: 5px;
    background: $color-light;
    box-shadow: $shadow-main;
    .icon {
      display: block;
      font-size: 200px;
      color: $color-accent-one;
    }
    button {
      padding: 10px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      background: $color-accent-two;
      color: $color-light;
      transition: 1s cubic-bezier(0.075, 0.75, 0.15, 1);
      &:hover {
        border-radius: 0;
      }
    }
  }
}
//Section view
.section__container {
  width: 100%;
  .section-nav {
    width: 100%;
    padding: 25px;
  }
  .content-container {
    margin: 15px;
    padding: 10px;
    border: 1px solid $color-dark;
    border-radius: 5px;
  }
}
//Schools view
.schools-container {
  .content-container {
    .create-school__form {
      width: 100%;
      .input {
        width: 100%;
        margin: 10px 0;
      }
    }
  }
  h3 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
}
//Managers view
.managers-container {
  .view-managers__container {
    display: flex; justify-content: space-evenly;
    padding: 50px 25px;
    .manager__card {
      width: 250px;
      padding: 25px;
      border: none;
      border-radius: 25px;
      box-shadow: $shadow-main;
      img {
        display: block;
        margin: auto;
      }
      h1 {
        font-size: 24px;
        text-align: center;
      }
    }
  }
  .content-container {
    .create-manager {
      width: 100%;
      .input {
        width: 100%;
        margin: 10px 0;
      }
    }
    .assign-manager {
      .assignment__container {
        height: 400px;
        display: flex; justify-content: space-evenly; align-items: center;
        select {
          color: $color-accent-two;
          border: 2px none;
          border-radius: 12px;
          font-size: 24px;
          padding: 25px;
          box-shadow: 0px 5px 8px -3px rgba(0,0,0,0.14);
          &:focus {
            border-radius: 12px;
            border-color: purple;
          }
        }
        .icon {
          font-size: 40px;
        }
      }
    }
  }
  h3 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
}
//Teachers view
.teachers-container {
  .view-teachers__container {
    display: flex; justify-content: space-evenly;
    padding: 50px 25px;
    .teacher__card {
      width: 250px;
      padding: 25px;
      border: none;
      border-radius: 25px;
      box-shadow: $shadow-main;
      img {
        display: block;
        margin: auto;
      }
      h1 {
        font-size: 24px;
        text-align: center;
      }
    }
  }
  .content-container {
    .create-teacher {
      width: 100%;
      .input {
        width: 100%;
        margin: 10px 0;
      }
    }
    .assign-teacher {
      .assignment__container {
        height: 400px;
        display: flex; justify-content: space-evenly; align-items: center;
        select {
          color: $color-accent-two;
          border: 2px none;
          border-radius: 12px;
          font-size: 24px;
          padding: 25px;
          box-shadow: 0px 5px 8px -3px rgba(0,0,0,0.14);
          &:focus {
            border-radius: 12px;
            border-color: purple;
          }
        }
        .icon {
          font-size: 40px;
        }
      }
    }
  }
  h3 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
}
//Classes view
.classes-container {
  .view-classes__container {
    display: flex; justify-content: space-evenly;
    padding: 50px 25px;
    .class__card {
      width: 250px;
      padding: 25px;
      border: none;
      border-radius: 25px;
      box-shadow: $shadow-main;
      img {
        display: block;
        margin: auto;
      }
      h1 {
        font-size: 24px;
        text-align: center;
      }
    }
  }
  .content-container {
    .create-class {
      width: 100%;
      .input {
        width: 100%;
        margin: 10px 0;
      }
    }
    .assign-teacher {
      .assignment__container {
        height: 400px;
        display: flex; justify-content: space-evenly; align-items: center;
        select {
          color: $color-accent-two;
          border: 2px none;
          border-radius: 12px;
          font-size: 24px;
          padding: 25px;
          box-shadow: 0px 5px 8px -3px rgba(0,0,0,0.14);
          &:focus {
            border-radius: 12px;
            border-color: purple;
          }
        }
        .icon {
          font-size: 40px;
        }
      }
    }
  }
  h3 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
}
//TeacherStudents view
.students-container {
  .view-students__container {
    display: flex; justify-content: space-evenly;
    padding: 50px 25px;
    .student__card {
      width: 250px;
      padding: 25px;
      border: none;
      border-radius: 25px;
      box-shadow: $shadow-main;
      img {
        display: block;
        margin: auto;
      }
      h1 {
        font-size: 24px;
        text-align: center;
      }
    }
  }
  .content-container {
    .create-student {
      width: 100%;
      .input {
        width: 100%;
        margin: 10px 0;
      }
      select {
        border: 2px none;
        border-radius: 12px;
        font-size: 18px;
        padding: 25px;
        box-shadow: 0px 5px 8px -3px rgba(0,0,0,0.14);
      }
    }
    .assign-student {
      .assignment__container {
        height: 400px;
        display: flex; justify-content: space-evenly; align-items: center;
        select {
          color: $color-accent-two;
          border: 2px none;
          border-radius: 12px;
          font-size: 24px;
          padding: 25px;
          box-shadow: 0px 5px 8px -3px rgba(0,0,0,0.14);
        }
        .icon {
          font-size: 40px;
        }
      }
    }
  }
  h3 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
}